/*
order of CSS:
- element selectors (header, body, h1, p, img)
- classes
- id's
*/
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	text-align: center;
}

header{
	background-color: #FFF;
	border: .5em;
	padding: .25em;
	color: #000;
}

article{
	text-align: center;
	font-family: 'Helvetica',sans-serif;
	font-style: bold;
	font-size: 1em;
	padding-top: .5%;
	padding-bottom: 3%;
	letter-spacing: 2px;
}

nav{
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #FFF;
	border: .25%;
	padding: 1%;
	text-align: center;
}

footer{
	border: .25%;
	padding: 5%;
}

a{
	text-decoration: none;
	border-bottom: .25% solid #000;
	color: #000;
	padding-bottom: .5%;
}
h1{ 
	font-family: 'EB Garamond', serif;
	color: #FFF;
	background-color: #000;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
	letter-spacing: 8px;
	border-bottom: .5% solid #000;
}
h2{
	font-family: 'Helvetica', sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
	padding-left: 1%;
	padding-right: 1%;
}

p{  
	padding-left: 1%;
	padding-right: 1%;
	font-size: 1em;
	letter-spacing: 1px;
	text-align: left;
	font-family:'EB Garamond',serif;
}


h3{
	font-family: 'EB Garamond',serif;
	letter-spacing: 1px;
}
.logo{padding-top: 5%;
}

.column{
	float: left;
	width: 31.33%;
	height: 480px;
	padding: 5%;
	margin: 2px 1%;
	background-color: #000;
	color: #FFF;
}
.clearfix:after{
	display: block;
	content: " ";
	visibility: hidden;
	height: 0;
	font-size: 0;
	clear: both;
}

@media only screen and (max-width: 480px);

	
