/*
order of CSS:
- element selectors (header, body, h1, p, img)
- classes
- id's
*/

body{
	text-align: center;

	font-family: Helvetica; 
}

header{
	background: url("../images/stackedbooks.jpg") no-repeat center center fixed;
	background-size: cover;
	height:700px;
}

header p{
	font-style: italic;
	font-size: 24px;
	font-weight: bold;
}

#blog header{
	height:auto;
	background:none;
}

h1{ 
	
	color: #383435;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

p{  
	padding-left: 400px;
	padding-right: 400px;
	font-size: 22px;
	font-family:Georgia, serif;
}

ul{
	text-align: center;
	list-style-type: none;
}
h4{
	font-size: 16px;
	font-weight: normal;
}

#about{
	background-color:#eee;
}

#shop{
	background-color:#fff;
}

#blog{
	background-color: #f5f1db;
}

#contact{
	background-color:#cfeee2;
}