/*
order of CSS:
- element selectors (header, body, h1, p, img)
- classes
- id's
*/
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
	text-align: center;
	}

header{
	background: url("../images/stackedbooks.jpg") no-repeat center center fixed;
	background-size: cover;
	height:700px;
}

nav{
	text-transform: uppercase;
	letter-spacing: 2px;
}
a{
	text-decoration: none;
	border-bottom: 1px solid #000;
	color: #000;
	padding-bottom: 2px;
}
header p{
	font-family: 'Helvetica',sans-serif;
	font-style: normal;
	font-size: 24px;
}

#blog header{
	height:auto;
	background:none;
}

h1{ 
	font-family: 'EB Garamond', serif;
	color: #383435;
	font-size: 54px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}
h2{
	font-family: 'Helvetica', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

p{  
	padding-left: 400px;
	padding-right: 400px;
	font-size: 20px;
	font-family:'EB Garamond',serif;
}

ul{
	font-family: 'EB Garamond',serif;
	text-align: center;
	list-style-type: none;
}
h4{
	font-size: 16px;
	font-weight: normal;
}
#about{
	background-color:#eee;
}

#shop{
	background-color:#fff;
}

#blog{
	background-color: #f5f1db;
}
h3{
	font-family: 'EB Garamond',serif;
	letter-spacing: 1px;
}

#contact{
	background-color:#cfeee2;
}
